/*------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  background: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit; }

body {
  overflow-x: hidden;
  font-family: Montserrat;
  font-size: 18px; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  background: #fff;
  height: 118px; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__burger {
    display: none; }
  .header__menu li {
    font-weight: 500;
    display: inline-block;
    margin-right: 32px;
    transition: 0.5s; }
    .header__menu li:hover a {
      color: #003980;
      transition: 0.5s; }
    .header__menu li:nth-last-child(1) {
      margin-right: 0; }
    .header__menu li a {
      color: #000; }

.button {
  font-weight: 600;
  padding: 1.125rem 2.25rem;
  background: #004996;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s;
  white-space: nowrap; }
  .button:hover {
    transition: 0.5s;
    padding: 1.125rem 2.25rem;
    background: #003980; }

.button2 {
  font-weight: 600;
  padding: 1.125rem 2.25rem;
  border: 1px solid #004996;
  border-radius: 50px;
  color: #000;
  transition: 0.5s;
  white-space: nowrap; }
  .button2:hover {
    transition: 0.5s;
    padding: 1.125rem 2.25rem;
    background: #003980;
    color: #fff; }

.main-page {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .main-page__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; }
  .main-page__subtitle {
    font-weight: 500;
    margin: 1.5rem 0 2rem 0; }
  .main-page__buttons {
    display: flex; }
  .main-page__button1 {
    margin-right: 3%; }

.title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3.75rem; }

.indent {
  margin: 7.5rem 0 7.5rem 0; }

.about__content {
  display: flex; }

.about__text {
  margin-right: 6vw;
  display: inline-block;
  line-height: 150%;
  padding-bottom: 25px; }

.about__button {
  margin-top: 20px;
  border: 1px solid #004996;
  background: none;
  color: #000; }

.technologies__content {
  display: flex;
  margin: 0 -20px; }

.technologies__item {
  flex: 0 1 50%;
  border-radius: 12px;
  border: 1px solid #ADABC3;
  margin: 0 20px;
  padding: 16px; }

.technologies__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; }

.technologies__text {
  line-height: 150%;
  margin-top: 16px; }

.questions__subtitle {
  text-align: center;
  margin-bottom: 56px; }

.questions__spoiler {
  border-radius: 15px;
  border: 1px solid #004996;
  padding: 48px;
  margin-bottom: 24px; }

.questions__button {
  display: inline-block;
  margin: 48px 0 0 50%;
  transform: translate(-50%, 0); }

.spoiler__title {
  font-weight: 600;
  position: relative;
  padding-right: 15px; }
  .spoiler__title::after {
    content: '';
    position: absolute;
    background: #000;
    right: 16px;
    top: 0;
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
    transition: 1s; }
  .spoiler__title::before {
    content: '';
    position: absolute;
    background: #000;
    right: 6px;
    top: 0;
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
    transition: 1s; }

.spoiler__title.active {
  font-weight: 600;
  position: relative;
  transition: 2s; }
  .spoiler__title.active::after {
    content: '';
    position: absolute;
    background: #000;
    right: 16px;
    top: 0;
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
    transition: 0.4s; }
  .spoiler__title.active::before {
    content: '';
    position: absolute;
    background: #000;
    right: 6px;
    top: 0;
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
    transition: 0.4s; }

.spoiler__paragraph {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s; }

.spoiler__paragraph.active {
  transition: 0.3s;
  max-height: 400px;
  margin-top: 18px; }

.cookie-banner p {
  margin: 0;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; }

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0;
  z-index: 100; }
  .cookie-banner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .cookie-banner__accept-button {
    background-color: #004996;
    color: white;
    border: none;
    padding: 1.125rem 2.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 1.2rem 0;
    border-radius: 50px;
    transition: 0.5s; }
    .cookie-banner__accept-button:hover {
      background: #004980;
      transition: 0.5s; }
  .cookie-banner__close-button {
    margin-left: 27px;
    background: none;
    border: none;
    font-size: 2.8rem;
    cursor: pointer; }

.prices__subtitle {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px; }

.prices__items {
  display: flex;
  margin: 0 -1.5rem; }

.prices__item {
  border-radius: 12px;
  border: 1px solid #D4D2E3;
  flex: 0 1 33.333%;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.prices__img img {
  min-width: 160px; }

.prices__price {
  font-weight: 700;
  font-size: 2em;
  white-space: nowrap;
  margin: 0 15px; }

.prices__plan {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
  letter-spacing: 2px;
  text-transform: uppercase; }

.prices__text {
  line-height: 150%;
  flex: 1 1 100%;
  margin: 13px 20px; }

.prices__button {
  margin-bottom: 35px; }

.prices__last-button {
  display: inline-block;
  margin: 48px 0 0 50%;
  transform: translate(-50%, 0);
  background: none;
  border-radius: 50px;
  border: 1px solid #004996;
  color: #000; }

.contacts__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 15px; }

.contacts__info {
  display: flex; }

.contacts__img img {
  max-width: 70%; }

.contacts__text {
  margin: 0 0 0 70px; }

.contacts__paragraph {
  line-height: 150%; }

.footer {
  background: url("../img/Container (2).jpg") 0 0/cover no-repeat; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 9rem 0; }
  .footer__logo p {
    color: #FFF;
    line-height: 150%; }
  .footer__form input {
    display: inline-block;
    border-radius: 50px;
    background: #FFF;
    padding: 15px;
    min-width: 23rem;
    margin-right: 15px; }
  .footer__button {
    display: inline-block; }

.form__title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0 1.5rem 0; }

.links__title {
  margin: 2rem 0 1rem 0;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600; }

.links__img:hover {
  transition: 0.5s;
  border-radius: 30%; }

.links__img {
  transition: 0.5s;
  border-radius: 50%;
  margin-right: 10px; }
  .links__img_last {
    margin-right: 0; }

@media (max-width: 1300px) {
  .container {
    max-width: 94vw;
    margin: 0 auto; }
  .indent {
    margin: 5rem 0 5rem 0; }
  .header {
    position: sticky;
    top: 0;
    background: #fff;
    height: 118px; }
    .header__menu li {
      font-weight: 500;
      display: inline-block;
      margin-right: 1rem; }
      .header__menu li:nth-last-child(1) {
        margin-right: 0; }
      .header__menu li a {
        color: #000; }
    .header__button a {
      padding: 10px 15px;
      font-size: 1rem; }
  .about__content {
    display: flex; }
  .about__text {
    margin-right: 6vw;
    display: inline-block;
    line-height: 150%;
    padding-bottom: 25px; }
  .about__image img {
    max-width: 35vw;
    min-height: 35vw;
    border-radius: 5px;
    object-fit: cover; }
  .about__button {
    margin-top: 20px;
    border: 1px solid #004996;
    background: none;
    color: #000; }
  .prices__subtitle {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem; }
  .prices__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .prices__item {
    border-radius: 12px;
    border: 1px solid #D4D2E3;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contacts__subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15px; }
  .contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contacts__img img {
    max-width: 90vw; }
  .contacts__text {
    margin: 1rem 0 0 0; }
  .contacts__paragraph {
    line-height: 150%; }
  .main-page__image {
    align-self: start; }
    .main-page__image img {
      max-width: 30vw; }
  .technologies__content {
    display: flex;
    flex-direction: column;
    gap: 10vh; }
  .technologies__item {
    border-radius: 12px;
    border: 1px solid #ADABC3;
    margin: 0 15vw;
    padding: 16px; }
    .technologies__item:nth-last-child(1) {
      position: relative; }
      .technologies__item:nth-last-child(1)::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 65%;
        background: #ADABC3;
        top: -5vh;
        left: 50%;
        transform: translate(-50%, 0); }
  .technologies__subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; }
  .technologies__text {
    line-height: 150%;
    margin-top: 16px; }
  .footer__links {
    display: none; }
  .footer__wrapper {
    justify-content: space-evenly;
    padding: 2rem 0 8rem 0; }
  .footer__form input {
    display: inline-block;
    font-size: 1.2vw;
    border-radius: 50px;
    background: #FFF;
    padding: 0.8125rem;
    min-width: 25vw;
    margin-right: 15px; } }

@media (max-width: 848px) {
  .header {
    position: sticky;
    top: 0;
    background: #fff;
    justify-content: space-evenly; }
    .header__button {
      display: none; }
  .indent {
    margin: 3.75rem 0 3.75rem 0; }
  .button {
    padding: 0.8125rem 1.75rem; }
  .main-page__title {
    font-size: 2rem; }
  .footer__wrapper {
    align-items: center;
    justify-content: space-around; }
  .footer__logo p {
    display: none; } }

@media (max-width: 769px) {
  .indent {
    margin: 3rem 0; }
  .button {
    font-size: 4.2vw;
    padding: 0.9375rem; }
  .container {
    overflow: hidden;
    margin: 0 auto; }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    height: 100px; }
    .header__burger {
      display: block;
      position: relative;
      right: 0;
      width: 30px;
      height: 20px;
      z-index: 3; }
      .header__burger span {
        position: absolute;
        background: #004996;
        left: 0;
        width: 100%;
        top: 9px;
        height: 2px; }
      .header__burger:before, .header__burger:after {
        content: '';
        background: #004996;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0; }
      .header__burger:after {
        bottom: 0; }
      .header__burger.active:before {
        transition: 0.5s;
        content: '';
        transform: rotate(45deg);
        top: 9px; }
      .header__burger.active:after {
        transition: 0.5s;
        content: '';
        transform: rotate(-45deg);
        top: 9px; }
      .header__burger.active span {
        display: none; }
    .header__menu {
      position: absolute;
      transition: 0.5s;
      right: -200px;
      top: 100px;
      background: #fff;
      box-sizing: border-box;
      border: 1px solid rgba(0, 73, 150, 0.3);
      padding: 15px; }
      .header__menu li {
        display: block;
        margin-bottom: 40px; }
    .header__menu.active {
      right: 0;
      top: 100px; }
  .main-page {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 100px; }
    .main-page__image {
      order: 1;
      margin: 0 auto; }
      .main-page__image img {
        max-width: 17rem; }
    .main-page__content {
      order: 2; }
    .main-page__buttons {
      justify-content: center; }
    .main-page__button2 {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      font-size: 4.2vw; }
    .main-page__button1 {
      margin-right: 2vw; }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__text {
    line-height: 150%;
    padding: 25px 0;
    margin: 0;
    order: 2; }
  .about__image {
    order: 1;
    margin: 0 auto;
    max-width: 94vw; }
    .about__image img {
      max-width: 94vw;
      min-height: 60vw;
      border-radius: 5px;
      object-fit: cover; }
  .about__button {
    margin-top: 0px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #004996;
    background: none;
    color: #000;
    display: inline-block; }
  .prices__subtitle {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem; }
  .prices__items {
    display: flex;
    flex-direction: column;
    max-width: 94vw;
    margin: 0 auto;
    justify-content: center; }
  .prices__item {
    border-radius: 12px;
    border: 1px solid #D4D2E3;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cookie-banner__accept-button {
    font-size: 1rem;
    padding: 10px; }
  .cookie-banner__close-button {
    margin-left: 16px;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer; }
  .questions__spoiler {
    padding: 30px; }
  .spoiler__title {
    font-weight: 600;
    position: relative;
    padding-right: 40px; }
    .spoiler__title::after {
      content: '';
      position: absolute;
      background: #000;
      right: 10px;
      top: 0;
      width: 15px;
      height: 1px;
      transform: rotate(45deg);
      transition: 1s; }
    .spoiler__title::before {
      content: '';
      position: absolute;
      background: #000;
      right: 0px;
      top: 0;
      width: 15px;
      height: 1px;
      transform: rotate(-45deg);
      transition: 1s; }
  .spoiler__title.active {
    font-weight: 600;
    position: relative;
    transition: 2s; }
    .spoiler__title.active::after {
      content: '';
      position: absolute;
      background: #000;
      right: 10px;
      top: 0;
      width: 15px;
      height: 1px;
      transform: rotate(-45deg);
      transition: 0.4s; }
    .spoiler__title.active::before {
      content: '';
      position: absolute;
      background: #000;
      right: 0px;
      top: 0;
      width: 15px;
      height: 1px;
      transform: rotate(45deg);
      transition: 0.4s; }
  .spoiler__paragraph {
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s; }
  .spoiler__paragraph.active {
    transition: 0.3s;
    max-height: 400px;
    margin-top: 18px; }
  .footer {
    background: url("../img/Container (2).jpg") 0 0/cover no-repeat; }
    .footer__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem 0 11rem 0; }
    .footer__logo p {
      color: #FFF;
      line-height: 150%; }
    .footer__links {
      display: block;
      text-align: center; }
    .footer__form {
      text-align: center; }
    .footer__form input {
      display: block;
      border-radius: 50px;
      background: #FFF;
      padding: 15px;
      font-size: 1rem;
      width: 94vw;
      margin: 0 15px; }
    .footer__button {
      display: inline-block;
      margin: 20px 0 0 0; } }
